@{
  Layout = "_Layout";
}

@model EauClairesSalon.Models.Stylist
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card bg-info my-5">
      <div class="card-body">
        <h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>
        @using (Html.BeginForm())
        {
            <button class="btn btn-light" type="submit">YES</button>
        }
        <br>
        @Html.ActionLink("Back to List", "Index")
      </div>
    </div>
  </div>
</div>