@{
  Layout = "_Layout";
}

@using EauClairesSalon.Models;
@using System.Collections.Generic;
@model List<EauClairesSalon.Models.Stylist>;

  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card bg-info my-5">
        <div class="card-body">
          <h1>Stylists</h1>
          <hr>
          @if (@Model.Count == 0)
          {
            <h3>No stylists have been added yet!</h3>
          } 
            @foreach(Stylist stylist in Model)
            {
                <p>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</p>
            }

            <hr/>

            <p>@Html.ActionLink("Add new stylist", "Create")</p>

            <p>@Html.ActionLink("Home", "Index", "Home")</p>

        </div>  
      </div>
    </div>
  </div> 