@{
  Layout = "_Layout";
}

@model EauClairesSalon.Models.Client

<br>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid">
      <h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)</h2>
      @using (Html.BeginForm())
      {
          <button class="btn btn-light" type="submit">YES</button>
      }
      <br>
    </div>
    <div class="mdl-card__actions">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Go back to list", "Index")</button>
    </div>
  </div>
</section>
<br>