@{
  Layout = "_Layout";
}
<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel is-active" id="overview">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid">
          <h4 class="mdl-cell mdl-cell--12-col">Welcome back! What would you like to do today?</h4>

          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">face</i>
            </button>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4>@Html.ActionLink("Browse through your stylists", "Index", "Stylists")</h4>
          </div>
          
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4>@Html.ActionLink("Add a new stylist", "Create", "Stylists")</h4>
          </div>

          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">face</i>
            </button>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4>@Html.ActionLink("See all Clients", "Index", "Clients")</h4>
          </div>

          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4>@Html.ActionLink("Add a new client", "Create", "Clients")</h4>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>


<div class="button-parent">
  <div class="button-group">
  
  <div class="form-group w-50" id="search">
  @using (Html.BeginForm("Search","Stylists")) {
  <input type="text" name="search" class="form-control form-control-lg"/>
  <br>
  <input type="submit" value="Search Stylists" class="btn btn-success my-2 my-sm-0">
  }
</div>
